html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* ページ全体に背景を設定するため、height: 100% を指定 */
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* 中央寄せ */
  align-items: flex-start; /* 上寄せ */
  height: 100vh; /* 画面全体を使う */
  background-image: url('../src/assets/background-image.jpg'); /* 背景画像のURL */
  background-size: cover; /* 画像が画面全体にフィットするように拡大・縮小 */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像が繰り返さないように設定 */
  height: 100vh; /* 画面全体に背景を表示 */
}

h1{
  margin: 0;
}

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100vw;
  background-color: rgb(0, 0, 0,0.5);
}

.taskAddButton-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.taskAddButton{
  margin: 20px 0;
  height: 80px;
  width: 280px;
  background-color: rgb(0, 0, 0,0.5);
  border: 5px solid white;
}

.textarea{
  display: flex;
  flex-direction: column;
}
